<div class="container">
    <div class="row">
        <div class="col">
            <h3 class="section-title"  style="margin-top: 15%;">Dental-Service</h3>
            <h3 class="section-left" style="text-align: center;">Changing lives one smile at a time</h3>
        </div>  
        <div class="col">
            <img src="assets/denwall.jpg">
      </div>
    </div>
</div>

<div class="container" style="margin-top: 5%;">
    <div class="row">
        <div class="col  col-3">
            <h1>Excellent Services</h1>
        </div>
        <div class="col col-3">
            <h1> Guaranteed Work</h1>
        </div>
        <div class="col col-3">
            <h1>Dental Implant </h1>
        </div>
        <div class="col col-3">
            <h1>24/7 Services</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <img class ="showcasepic1"  src="assets/dental1.jpg">
        </div>
        <div class="col" style="margin-top: 5%; margin-left: 3%;">
                <h3 class="section-title">"Make your dream smile a reality!"</h3>
                <p class="section-right" style="text-align: center;">We provides a wide variety of dental services and procedures to address all of our patients' dental health needs. By combining quality patient care with up-to-date technology, we are able to treat patients of all ages in a comfortable and relaxing setting.</p>
        </div>
    </div>
  </div>

<div class="last-content">
    <h1 style="text-shadow: 2px 2px;">Gallery</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm box">
            <img src="assets/dental2.jpg">
        </div>
        <div class="col-sm box">
            <img src="assets/dental3.jpg">
        </div>
        <div class="col-sm box">
            <img src="assets/dental4.jpg">
        </div>
    </div>
    <div class="row">
        <div class="col-sm box">
            <img src="assets/dental5.jpg">
        </div>
        <div class="col-sm box">
            <img src="assets/dental6.jpg">
        </div>
        <div class="col-sm box">
            <img src="assets/dental7.jpg">
        </div>
    </div>
</div>